<div ng-if="extraction">
<div ng-if="!searchResult.highlight['text']">
    <p>{{source.text}}</p>
</div>
<div style="width:80%;font-size:small;margin-top: 6px;">
  <button class="btn btn-default btn-xs" btn-checkbox ng-model="isDetailShown">show more</button>
  <div class="panel panel-default" collapse="!isDetailShown">
	<table class="table table-striped table-hover">
          <tr>
            <td style="width:350px">Is the provider underage?</td>
            <td>{{extraction.is_underage.true_or_false}}</td>
          </tr>
          <tr>
            <td>Was the provider on drugs?</td>
            <td>{{extraction.is_drug.true_or_false}}</td>
          </tr>
          <tr>
            <td>Was the provider have evidence of physical abuse?</td>
            <td>{{extraction.is_abuse.true_or_false}}</td>
          </tr>
          <tr>
            <td>Was the provider unwilling to be there?</td>
            <td>{{extraction.is_unwilling.true_or_false}}</td>
          </tr>
	  <tr>
            <td>Was there a receptionist or someone else involved?</td>
            <td>{{extraction.agency.true_or_false}}</td>
          </tr>
	  <tr>
            <td>Was the provider the same as the picture?</td>
            <td>{{extraction.picture.true_or_false}}</td>
          </tr>
        </table>
	<div style="margin-left: 6px; margin-right: 6px; margin-top: 10px; margin-bottom: 10px;">
	<button class="btn btn-default btn-xs" btn-checkbox ng-model="isDetailShown2">show provider information</button>
	<div class="panel panel-default" collapse="!isDetailShown2">
		<table class="table table-striped table-hover">
	     <tr><td style="width:200px">name</td><td>{{extraction.provider.provider.provider_name}}</td></tr>
             <tr><td>TER ID</td><td>{{extraction.provider.provider.provider_id}}</td></tr>
             <tr><td>city</td><td>{{extraction.provider.provider.city}}</td></tr>
             <tr><td>age</td><td>{{extraction.provider.provider.age}}</td></tr>
             <tr><td>ethnicity</td><td>{{extraction.provider.provider.ethnicity}}</td></tr>
             <tr><td>hair color</td><td>{{extraction.provider.provider.hair_color}}</td></tr>
             <tr><td>employer</td><td>{{extraction.provider.provider.agency}}</td></tr>
             <tr><td>work time</td><td>{{extraction.provider.provider.availability}}</td></tr>
             <tr><td>name</td><td>{{extraction.provider.provider.provider_name}}</td></tr>
             <tr><td>incall or outcall</td><td>{{extraction.provider.provider.incall_outcall}}</td></tr>
             <tr><td>service type</td><td>{{extraction.provider.provider.service}}</td></tr>
             <tr><td>is porn star or not</td><td>{{extraction.provider.provider.porn_star}}</td></tr>
             <tr><td>phone</td><td>{{extraction.provider.provider.phone_0}}</td></tr>
             		<tr><td>advertisement url</td><td>{{extraction.provider.provider.ad_url}}</td></tr>
             		<tr><td>email</td><td>{{extraction.provider.provider.email}}</td></tr>
             		<tr><td>ads docid list</td><td>{{extraction.ads.ads_docid_list}}</td></tr>
		</table>
	</div>
	</div>
        <div style="margin-left: 6px; margin-right: 6px; margin-top: 10px; margin-bottom: 10px;">
        <button class="btn btn-default btn-xs" btn-checkbox ng-model="isDetailShown3">show advertisement docid list</button>
        <div class="panel panel-default" collapse="!isDetailShown3">
        	<div style="margin-left: 6px; margin-right: 6px; margin-top: 10px; margin-bottom: 10px;">
		<p>{{extraction.ads.ads_docid_list}}</p>
		</div>
	</div>
	</div>
  </div>
</div>
</small>
</div>
